/**
 *Pretendard
 */

@font-face {
	font-family:'Pretendard';
	font-weight:900;
	font-display: swap;
	src:local('Pretendard Black'), 
		url('../font/Pretendard-Black.woff2') format('woff2'), 
		url('../font/Pretendard-Black.woff') format('woff')
}
 
@font-face {
	font-family:'Pretendard';
	font-weight:800;
	font-display:swap;
	src:local('Pretendard ExtraBold'), 
		url('../font/Pretendard-ExtraBold.woff2') format('woff2'), 
		url('../font/Pretendard-ExtraBold.woff') format('woff')
}

@font-face {
	font-family:'Pretendard';
	font-weight:700;
	font-display:swap;
	src:local('Pretendard Bold'), 
		url('../font/Pretendard-Bold.woff2') format('woff2'), 
		url('../font/Pretendard-Bold.woff') format('woff')
}

@font-face {
	font-family:'Pretendard';
	font-weight:600;
	font-display:swap;
	src:local('Pretendard SemiBold'), 
		url('../font/Pretendard-SemiBold.woff2') format('woff2'), 
		url('../font/Pretendard-SemiBold.woff') format('woff')
}

@font-face {
	font-family:'Pretendard';
	font-weight:500;
	font-display:swap;
	src:local('Pretendard Medium'), 
		url('../font/Pretendard-Medium.woff2') format('woff2'), 
		url('../font/Pretendard-Medium.woff') format('woff')
}

@font-face {
	font-family:'Pretendard';
	font-weight:400;
	font-display:swap;
	src:local('Pretendard Regular'), 
		url('../font/Pretendard-Regular.woff2') format('woff2'), 
		url('../font/Pretendard-Regular.woff') format('woff')
}

/**
 *Montserrat
 */

@font-face {
	font-family:'Montserrat';
	font-weight:800;
    src:local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
        url('../font/Montserrat-ExtraBold.woff2') format('woff2'),
        url('../font/Montserrat-ExtraBold.woff') format('woff')
}

@font-face {
	font-family:'Montserrat';
	font-weight:700;
    src:local('Montserrat Bold'), local('Montserrat-Bold'),
        url('../font/Montserrat-Bold.woff2') format('woff2'),
        url('../font/Montserrat-Bold.woff') format('woff')
}

@font-face {
	font-family:'Montserrat';
	font-weight:600;
    src:local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../font/Montserrat-SemiBold.woff2') format('woff2'),
        url('../font/Montserrat-SemiBold.woff') format('woff')
}

@font-face {
	font-family:'Montserrat';
	font-weight:500;
    src:local('Montserrat Medium'), local('Montserrat-Medium'),
        url('../font/Montserrat-Medium.woff2') format('woff2'),
        url('../font/Montserrat-Medium.woff') format('woff')
}

@font-face {
	font-family:'Montserrat';
	font-weight:400;
    src:local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../font/Montserrat-Regular.woff2') format('woff2'),
        url('../font/Montserrat-Regular.woff') format('woff')
}

@font-face {
	font-family:'Montserrat';
	font-weight:300;
    src:local('Montserrat Light'), local('Montserrat-Light'),
        url('../font/Montserrat-Light.woff2') format('woff2'),
        url('../font/Montserrat-Light.woff') format('woff')
}


