<div class="dim"></div>
<header>
	<div class="header_area">
		<div class="logo">
			<a href="/">
				<img src="img/common/logo.png" alt="meritz ETN" class="pc_none">
				<img src="img/common/m_logo.png" alt="meritz ETN" class="mo_none">
				<span class="eng700 gray">ETN</span>
			</a>
		</div>
		<nav class="gnb" id="gnb">
			<ul class="depth1">
				<li>
					<a href="javascript:void(0);">
						메리츠<span class="eng"> ETN </span>시리즈
					</a>
					<ul class="depth2">
						<li>
							<a href="content/series/mrktPriceList.html">전체 ETN 상품</a>
						</li>
						<li>
							<a href="content/series/assetInformation.html">채권형 ETN 알림판</a>
						</li>
						<li>
							<a href="content/series/whyMeritzEtn.html">Why Meritz ETN?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);">
						<span class="eng">ETN </span>기본정보
					</a>
					<ul class="depth2">
						<li>
							<a href="content/infomation/infomation1.html">ETN 이해</a>
						</li>
						<li>
							<a href="content/infomation/infomation2.html">ETN 특징</a>
						</li>
						<li>
							<a href="content/infomation/infomation3.html">ETN vs ETF</a>
						</li>
						<li>
							<a href="content/infomation/infomation4.html">투자지표</a>
						</li>
						<li>
							<a href="content/infomation/infomation5.html">투자위험</a>
						</li>
						<li>
							<a href="content/infomation/infomation6.html">매매/과세제도</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);">
						<span class="eng">ETN </span>알림판
					</a>
					<ul class="depth2">
						<li>
							<a href="content/notice/noticeList.html">공시 및 공지사항</a>
						</li>
						<li>
							<a href="content/notice/faq.html">FAQ</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="javascript:void(0);">
						발행사정보
					</a>
					<ul class="depth2">
						<li>
							<a href="https://home.imeritz.com" target="_blank" title="새창열림">메리츠증권 <img src="img/common/ico_blank_b.svg" alt="메리츠증권 새창열기 이미지" class="ico_blank"></a>
						</li>
						<li>
							<a href="https://home.imeritz.com/main/ir/fin_0100.html" target="_blank" title="새창열림">재무정보 <img src="img/common/ico_blank_b.svg" alt="재무정보 새창열기 이미지" class="ico_blank"></a>
						</li>
						<li>
							<a href="https://home.imeritz.com/main/ir/inv_0102.html" target="_blank" title="새창열림">공시정보 <img src="img/common/ico_blank_b.svg" alt="공시정보 새창열기 이미지" class="ico_blank"></a>
						</li>
						<li>
							<a href="content/issuer/creditRating.html">발행사 신용​등급</a>
						</li>
					</ul>
				</li>
			</ul>
		</nav>
		
		<button type="button" class="btn_total">
			<span></span>
			<span></span>
			<span></span>
		</button>

		<a href="https://home.imeritz.com" class="header_btn" target="_blank" title="새창열림">
			메리츠증권
			<img src="img/common/ico_blank_b.svg" alt="메리츠증권 새창열기 이미지">
			<img src="img/common/ico_blank_w.svg" alt="메리츠증권 새창열기 이미지">
		</a>
	</div>
	
	<div class="gnb_bg">
		<div class="gnb_img">
			<img src="img/content/infomation/content1_02.png" alt="ETN">
		</div>
	</div>

	<div class="m_gnb_wrap">
		<div class="m_gnb_top">
			<a href="https://home.imeritz.com" class="header_btn" target="_blank" title="새창열림">
				메리츠증권
				<img src="img/common/ico_blank_b.svg" alt="메리츠증권 새창열기 이미지">
				<img src="img/common/ico_blank_w.svg" alt="메리츠증권 새창열기 이미지">
			</a>
		</div>
		<div class="m_gnb">
			<ul class="m_depth1">
				<li>
					<a href="content/series/mrktPriceList.html">
						메리츠<span class="eng"> ETN </span>시리즈
					</a>
					<ul class="m_depth2">
						<li>
							<a href="content/series/mrktPriceList.html">전체 ETN 상품</a>
						</li>
						<li>
							<a href="content/series/assetInformation.html">채권형 ETN 알림판</a>
						</li>
						<li>
							<a href="content/series/whyMeritzEtn.html">Why Meritz ETN?</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="content/infomation/infomation1.html" class="active">
						<span class="eng">ETN </span>기본정보
					</a>
					<ul class="m_depth2">
						<li>
							<a href="content/infomation/infomation1.html">ETN 이해</a>
						</li>
						<li>
							<a href="content/infomation/infomation2.html">ETN 특징</a>
						</li>
						<li>
							<a href="content/infomation/infomation3.html">ETN vs ETF</a>
						</li>
						<li>
							<a href="content/infomation/infomation4.html">투자지표</a>
						</li>
						<li>
							<a href="content/infomation/infomation5.html">투자위험</a>
						</li>
						<li>
							<a href="content/infomation/infomation6.html">매매/과세제도</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="content/notice/noticeList.html">
						<span class="eng">ETN </span>알림판
					</a>
					<ul class="m_depth2">
						<li>
							<a href="content/notice/noticeList.html">공시 및 공지사항</a>
						</li>
						<li>
							<a href="content/notice/faq.html">FAQ</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="content/issuer/creditRating.html">
						발행사정보
					</a>
					<ul class="m_depth2">
						<li>
							<a href="https://home.imeritz.com" target="_blank" title="새창열림">메리츠증권 <img src="img/common/ico_blank_b.svg" alt="메리츠증권 새창열기 이미지" class="ico_blank"></a>
						</li>
						<li>
							<a href="content/issuer/creditRating.html">발행사 신용​등급</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
	<div class="m_gnb_bg"></div>
</header>

<script>
$(document).ready(function(){
	//gnb depth열기
	$('.depth1 > li, .gnb_bg').on('mouseenter' , function(){
		$('.depth2').addClass('open');
		$('.gnb_bg').addClass('open');
		$(this).children('.depth2').addClass('active');
		$('.dim').show();
	});

	$('.depth1 > li, .gnb_bg').on('mouseleave' , function(){
		$('.depth2').removeClass('open');
		$('.gnb_bg').removeClass('open');
		$(this).children('.depth2').removeClass('active');
		$('.dim').hide();
	});

	//depth2 mouseenter
	$('.depth2').mouseenter(function(){
		$(this).siblings('a').parent('li').addClass('active');
	});

	$('.depth2').mouseleave(function(){
		$(this).siblings('a').parent('li').removeClass('active');
	});

	//모바일 gnb 열기
	$('.btn_total').on('click', function(){
		$('header').toggleClass('open');
		if ($('header').hasClass('open')){
			$('body').addClass('lock')
		} else {
			$('body').removeClass('lock')
		}
	});

	$(window).resize(function(){
		var windowW = window.outerWidth;
		if( windowW > 1120){
			$('header').removeClass('open');
		}
	});

	//모바일 gnb depth2 열기 
	$('.m_depth1 > li > a').first().addClass('down');
	$('.m_depth1 > li > a').first().siblings('.m_depth2').show();
	$('.m_depth1 > li > a').on('click', function(e){
		e.preventDefault();
		if($(this).hasClass('down')){
			$(this).removeClass('down');
			$(this).siblings('.m_depth2').slideUp(300);
		}else {
			$(this).addClass('down');
			$(this).siblings('.m_depth2').slideDown(300);
		}
	});
});
</script>