<div class="price_noti">
	<button type="button"><span>!</span>투자 전, 확인하세요!<i class="fa fa-angle-up" aria-hidden="true"></i></button>
	<ul>
		<li>투자자는 금융투자상품(ETN)에 대하여 충분한 설명을 받을 권리가 있으며, 투자 전 상품설명서 및 약관을 반드시 읽어보시기 바랍니다.</li>
		<li>ETN은 예금자보호법에 따라 예금보험공사가 보호하지 않습니다.</li>
		<li>본 상품은 자산가격 변동, 신용등급 하락 등에 따라 투자원금의 손실(0~100%)이 발생할 수 있으며, 그 손실은 투자자에게 귀속됩니다.</li>
		<li>본 상품은 기초지수 구성종목의 가격에 연계해 증권의 수익률이 결정되므로 투자결정 시 기초자산의 성격 및 과거 가격 추이, 기초자산 관련 경영환경 변화 등에 따른 권리변경<br> 가능성 등을 충분히 감안하시기 바랍니다.</li>
		<li>발행인의 신용상태에 따라 투자원금이 보호되지 않을 수 있는 신용위험이 있으므로 발행인의 재무현황 및 신용등급(메리츠증권 신용등급 AA- 한국신용평가 2022년 04월 15일<br> 기준, AA- NICE신용평가 2022년 04월 12일 기준) 등을 파악하고 투자결정을 하시기 바랍니다.</li>
		<li>동 파생결합증권은 거래소에 상장되어 거래되는 상품으로 거래소 상장 규정에 따라 상장폐지될 수 있습니다. 투자자가 투자금 회수를 위해 발행인에게 중도상환을 요청할 시 상환비용이<br> 발생할 수 있으므로, 투자자에게 지급되는 금액은 원금에 미달할 수 있습니다. 중도상환절차 및 상환가격 결정방법 등을 반드시 확인하시기 바랍니다.</li>
		<li>과세기준 및 과세방법은 향후 법령 개정 등에 따라 변동될 수 있습니다.</li>
		<li>본 웹사이트에서 제공한 ETN, 기초지수 및 지표가치 등의 과거 성과는 제비용, 세금, 증권거래수수료 등으로 인해 실제 성과와 다를 수 있으며, 과거 수익이 미래 수익을 보장하지 않습니다.</li>
		<li>본 웹사이트에서 제공하는 지수 및 수익률 정보는 투자 참고사항이며 오류가 발생하거나 지연될 수 있습니다. 제공된 정보에 의한 투자 결과에 대해 당사는 법적인 책임을 지지 않습니다.</li>
		<li>ETN 거래수수료는 거래 증권사에 따라 상이합니다. 거래수수료와 관련한 사항은 거래 증권사 홈페이지를 참고하시기 바랍니다.</li>
		<li>외화자산의 경우 환율변동에 따라 손실이 발생할 수 있습니다.</li>
		<li>ETN의 총보수는 상품별로 상이(0.10%~0.80%)하며, 자세한 내용은 홈페이지 및 투자설명서를 참고하시기 바랍니다.</li>
	</ul>
</div>

<script>
	$(document).ready(function(){
		$('.price_noti').on('click', 'button', function(){
			$(this).toggleClass('active');
			$('.price_noti ul').stop().slideToggle();
		});
	});
</script>